<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Auto Quiz</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" type="text/css" media="screen" href="main.css" /> -->
    <script src="/public/js/create.js"></script>
</head>

<body>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        var socket = io();
        function sendQuestions(questions) {
            socket.emit('allQuestions', questions);
        }
        function sendStart() {
            socket.emit('start');
        }
    </script>
    
    <div id = "create-home">
        <div id="topic-input">
            <h4>Topic</h4>
            <input id="search-box" />
            <button onclick="submitTopic()">Submit</button>
        </div>

        <!--TODO: Show the key when topic is submitted-->
        <p id="show-key"></p>

        <!--Button for creator to start the quiz-->
        <button onclick="startQuiz()">Start!</button>
    </div>

    <div id = "follow-question" > <!--style="display: none"-->
        <script src="/socket.io/socket.io.js"></script>
        <script>
            var socket = io();
            socket.on('question', function (msg) {
                showQuestion(msg);
                console.log("received");
            });
        </script>
        <p id = "question">Showing the question</p>
        <button id = "answer-reveal" onclick="answerReveal()">Reveal Answer</button>
        <button id = "next-q" onclick = "nextQuestion()">Next</button>
        <p id = "current-question"></p>
        <p id = "answer"></p>
    </div>
</body>

</html>